<div class="jumbo">
    <div class="right tomster"></div>
    <h2>CADASTRA ALUNOS</h2>
    <p>Realizar Cadastro dos Alunos</p>

    {{#link-to "chamada" class="button"}}
        chamada
    {{/link-to}}

    
</div>