<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Sobre Web Chamada</h2>
    <p>Esta plataforma tem como objetivo
       automatizar a organização de presença
       nas aulas que está acontecendo.
    </p>

    {{#link-to "contato" class="button"}}
    contato
    {{/link-to}}


</div>